{%extends 'layout.html'%}

{%block content%}
        <h4 class="container mt-4"><strong>글 작성페이지</strong></h4>

        <div class="container mt-3">
            <!-- <form id = "test_form" action="/add" method="POST"> -->
            <form id = "test_form">
              <input type="hidden" name="editID" value={{data._id}}>
            <div class="form-group">
                <label>오늘의 할일</label>
              
                <input type="text" class="form-control" name="title" value="{{data.title}}">
            </div>
            <div class="form-group">
                <label>날짜</label>
                <input type="text" class="form-control" name="date" value={{data.date}}>
            </div>
            <button type="submit" id="write-submit" class="btn btn-outline-secondary">수정</button>
            </form>
        </div>

        <script>
          function editPost(e){
            e.preventDefault();
            const editTitle = e.target.title.value;
            const editDate = e.target.date.value;
            const editID = e.target.editID.value;
            const data = {
              _id : editID,
              title : editTitle,
              date : editDate
            }
            if(editDate && editTitle){
              fetch(("/edit/" +  editID ),{
                method: "POST",
                cache: "no-cache",
                headers: {"Content-Type" : "application/json"},
                body: JSON.stringify(data)
              }).then(res => {
                if(res.redirected){
                  window.location.href = res.url;
                }
                alert("수정 완료.");
              })
            }else{
              alert("모두 입력해주세요.")
            }
          }

          const editSubmit = document.getElementById('test_form');
          editSubmit.addEventListener('submit',editPost);
        </script>
{%endblock%}