{% extends 'layout.html' %}

      {% block content%}

      <div style="display: flex; justify-content: center; align-items: center; ">
      <ul class="list-group" style="width: 80%;">
        <div style="display: flex; justify-content: center; align-items: center; padding: 10px; font-size: 20px; font-weight: bold;">
          <p style="margin: 0;">Todo List</p>
        </div>
      <div class="container input-group mb-2">
        <input class="form-control" id="search-input">
        <button class="input-group-append btn btn-danger" id="search">검색</button>
      </div>
      {% for item in posts %}
      <li class="list-group-item" aria-current="true" data-id="{{item._id}}">
        
        <p>할일 {{item._id}}</p> 
        <h4>제목 : {{item.title}}</h4>
        <p>마감날짜 : {{item.date}}</p>
        <button type="button" class="btn btn-danger delete" data-id="{{item._id}}">삭제</button>
        <button type="button" class="btn btn-danger edit" data-id="{{item._id}}">수정</button>
        <!-- <button class="delete" data-id="{{item._id}}">삭제</button> -->
      </li>
      {% endfor %}
      </ul>
    </div>
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" ></script>
<script> 
  // $('.delete').click(function(e){
  //   //let postNum = e.target.dataSet.id;
  // }); 
  console.log("ddd")
  function deletePost(e){
    e.stopPropagation();
  console.log(e.target.dataset.id);
  const deleteList = document.querySelector(`.list-group-item[data-id="${e.target.dataset.id}"]`);
  const postNum = e.target.dataset.id;
  const pushBtn = this;
  console.log(pushBtn)
  $.ajax({
  method : 'DELETE',
  url : '/delete',
  data : {_id : e.target.dataset.id}
  }).done((result) => {
    //페이지를 강제로 새로고침 해주세요
    //삭제버튼을 누른 <li> 요소를 제거해주세요.
    // location.reload();
    console.log(this.parentNode);
    console.log('success');
    this.parentNode.remove();
    
  }).fail((xhr,textStatus,errorThrown) => {
  console.log(xhr,textStatus,errorThrown);

  })
  
  }
  // const enterDetail = e => {
  function enterDetail(e){
  $.ajax({
  method : 'GET',
  url : '/detail/' + this.dataset.id,
  data : {_id : this.dataset.id}
  }).done((result) => {
  console.log('success');
  location.href='/detail/' + this.dataset.id;
  })

  }

  function editDetail(e){
    e.stopPropagation();
    const editTargetID = this.dataset.id;
    fetch("/edit/" + editTargetID).then((res) => {
      location.href = '/edit/' + this.dataset.id;
    })
  }

  async function searchInfo(){
    const query = document.getElementById('search-input').value;
    console.log("query",query)
    try{
      let response = await fetch("/search?value="+query);
      response = await response.json();
      console.log(response.message)
      
    }catch(err){
      console.log(err)
    }

  }
  const deleteAllBtn = document.querySelectorAll('.delete');
  deleteAllBtn.forEach(btn => btn.addEventListener('click',deletePost));

  const clickDetail = document.querySelectorAll('.list-group-item');
  clickDetail.forEach(Detail => Detail.addEventListener('click',enterDetail,false));

  const enterEdit = document.querySelectorAll('.edit');
  console.log(enterEdit)
  enterEdit.forEach(Edit => Edit.addEventListener('click',editDetail))

  const getInfo = document.getElementById('search');
  getInfo.addEventListener('click',searchInfo);
    
  </script>

  {% endblock %};
      
  